<!-- 管理者専用 -->
<h3>ユーザー管理画面</h1>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>user_id</th>
        <th>name</th>
        <th>email</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "削除", user , method: :delete, data:{confirm:"削除しますか?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
